@import "../../css/base_mob.css";
.am-offcanvas {
  top: 54/37.5rem !important;
  background: rgba(0, 0, 0, 0.7) !important;
}
.am-offcanvas-bar:after {
  background: #fff !important;
}
.am-offcanvas-bar {
  top: 54/37.5rem !important;
  background: #F2F2F2 !important;
}
.warp_wx {
  width: 100%;
  height: 100%;
  max-width: 540px;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  //底线(公用)
  .baseline {
    text-align: center;
    font-size: 12/37.5rem;
    line-height: 17/37.5rem;
    padding-bottom: 20/37.5rem;
    color: #D7D7D7;
  }

  .nav_header {
    width: 100%;
    position: fixed;
    max-width: 540px;
    z-index: 1000;
    top: 0;
    height: 54/37.5rem;
    border-bottom: 1/37.5rem solid #EEEEEE;
    background-color: #fff;
  }
  .am-menu-offcanvas1 .am-menu-toggle {
    position: absolute;
    left: 20/37.5rem !important;
    top: 12/37.5rem !important;
    width: 30/37.5rem;
    height: 30/37.5rem;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .am-menu-offcanvas1 .am-menu-nav > .am-parent > a:after {
    top: 0.45rem;
    right: 0.4rem;
  }
  .par_title {
    font-size: 16/37.5rem;
    font-weight: 800;
    color: #333 !important;
  }
  .am-menu-offcanvas1 .am-menu-nav > li > a {
    height: 60/37.5rem !important;
    line-height: 60/37.5rem !important;
  }
  .am-menu-offcanvas1 .am-menu-nav > li > a {
    text-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    border-top: none !important;
  }
  .am-menu-offcanvas1 .am-menu-nav {
    border-bottom: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .list_sele {
    background-color: #f2f2f2 !important;
    border-top: none;
    padding: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .list_sele > li {
    width: 100% !important;
    padding: 0 15/37.5rem;
  }
  .list_sele > li > a{
    display: block;
    font-size: 15/37.5rem !important;
    padding: 15/37.5rem !important;
    color: #333 !important;
    border-bottom: 1px solid #fff;
  }
  .am-menu-offcanvas1 .am-menu-nav > .am-open > a, .am-menu-offcanvas1 .am-menu-nav > li > a:hover, .am-menu-offcanvas1 .am-menu-nav > li > a:focus {
    background-color: #f2f2f2 !important;
  }
  .all_title {
    display: block;
    width: 50%;
    line-height: 54/37.5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 14/37.5rem;
    color: #333;
  }
  .my_icon {
    position: absolute;
    right: 20/37.5rem;
    top: 12/37.5rem;
    width: 30/37.5rem;
    height: 30/37.5rem;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

//底部导航
.footer {
  width: 100%;
  position: fixed;
  max-width: 540px;
  z-index: 500;
  bottom: 0;
  height: 54/37.5rem;
  border-top: 1/37.5rem solid #EEEEEE;
  background-color: #fff;
  .footer_nav {
    width: 100%;
    height: 100%;
    .nav_li {
      float: left;
      width: 33.33%;
      height: 100%;
      text-align: center;
      padding: 6/37.5rem 0;
      .nav_icon {
        display: block;
        width: 27/37.5rem;
        height: 27/37.5rem;
        margin: 0 auto;
      }
      .nav_text {
        color: #ddd;
        font-size: 11/37.5rem;
        line-height: 13/37.5rem;
        padding-top: 2/37.5rem;
      }
      .navcolor {
        color: #333;
        font-size: 11/37.5rem;
        line-height: 13/37.5rem;
        padding-top: 2/37.5rem;
      }
    }
  }
}
